html{
	width: 100%;
	min-width: 350px;
}

* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}

p {
	font-size: 16px;
}

.navbar-brand img {
	height: 200px;
}

.banner {
	margin-top: 206px;
}

.activity {
	padding:50px;
	background:linear-gradient(#fff2eb,#d9bba9); 
}

@media (min-width: 992px) {
/*nav選單*/
	.navbar{
	padding-left:50px!important;
	padding-right:50px!important;
}
.navbar-nav{
	margin-top: 130px!important;
}
.navbar-brand img {
	height: 200px;
}
iframe{
	width: 750px;
	height: 657px;
}
.fb{
	text-align:center;
	vertical-align: middle;
	width: 100%;
}
}

@media (min-width: 321px) and (max-width:991px) {
	/*nav選單*/
		.navbar{
		padding-left:50px!important;
		padding-right:50px!important;
	}
	.navbar-nav{
		margin-top: 0px!important;
	}
	.navbar-brand img {
		height: 150px;
	}
	.banner {
		margin-top: 156px;
	}
	iframe{
		width: 350px;
		height: 657px;
	}
	.fb{
		text-align:center;
		vertical-align: middle;
		width: 100%;
	}
	}

	@media (max-width: 450px) {
		/*nav選單*/
			.navbar{
			padding-left:50px!important;
			padding-right:50px!important;
		}
		.navbar-nav{
			margin-top: 0px!important;
		}
		.navbar-brand img {
			height: 150px;
		}
		.banner {
			margin-top: 156px;
		}
		iframe{
			width: 250px;
			height: 657px;
		}
		.fb{
			width: 100%;
		}
		.activity{
			padding-right: 0px;
			padding-left: 0px;
		}
		}

.banner .container-fluid {
	padding:0!important;
}

.about {
	padding:100px 0;
	background-color: #ffffff;
}

.about .container-fluid {
	padding:0!important;
}

.about .carousel {
	box-shadow:2px 2px 4px gray;
	max-height: 500px;
	max-width: 334px;
	margin: auto;
}

.about img{
	max-height: 500px;
	max-width: 334px;
}

.title {
	font-size:30px;
	font-weight: bold;
}

.title_line {
	border-color:#000000;
}

.title_line_line {
	border-color:#ffffff;
}

.story {
	padding: 50px 0;
	font-size: 18px;
}

.story span {
	font-style: italic;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.title_line {
	margin-bottom: 50px;
}

.product {
	background:linear-gradient(#ffffff,#fff2eb); 
	padding-bottom:70px;
}
.product .card {
	background-color: #ffffff;
	padding: 20px 10px;
	margin-bottom: 10px;
}

.product .pic{
	margin-bottom:20px;
	border: 1px #999999 solid;
	overflow:hidden;
}

.product img {
	width:100%;
	transform:scale(1,1);
	transition: all 1s ease-out;
}

.product img:hover {
	opacity: 0.7;
	transform:scale(1.2,1.2);
}

.product_name {
	padding: 10px;
}

.contact {
	height:750px;
	padding-top: 60px;
	background-image: url(../img/newpic.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

.contact .title {
	color:#ffffff;
}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

input[type=submit] {
  background-color: #8ABCB8;
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

input[type=submit]:hover {
  background-color: rgb(55, 124, 118);
}

footer {
	background-color: #d9bba9;
	padding:20px;
}

footer p {
	line-height: 30px;
}
